source https://www.nuget.org/api/v2
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Fake
nuget FsCheck
nuget FSharp.Data
nuget FsUnit
nuget Microsoft.DotNet.Watcher.Tools
nuget RestSharp
nuget FSharp.Core

clitool Microsoft.DotNet.Watcher.Tools

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
