source https://www.nuget.org/api/v2

# General
nuget Fake


# Testing
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget FsCheck
nuget FsUnit
nuget Microsoft.DotNet.Watcher.Tools

clitool Microsoft.DotNet.Watcher.Tools

# CryptoExchangeClient
nuget RestSharp
nuget FSharp.Data
nuget FSharp.Core
nuget Rationals
nuget SocketLite.PCL
nuget WebsocketClientLite.PCL


group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
